<launch>

  <!-- Argument for changing loop rate -->
  <arg 
    name = "freq" 
    default = "10" 
  />

  <!-- Node 1: talker -->
  <node
    pkg="beginner_tutorials"
    type="talker"
    name="talker"
    args = "$(arg freq)"
    output="screen"
  />
  <!-- Node 2: listener -->
  <node
    pkg="beginner_tutorials"
    type="listener"
    name="listener"
    output="screen"
    launch-prefix="gnome-terminal --command"	
  />
</launch>
