<launch>

  <!-- Argument for changing loop rate -->
  <arg 
    name = "freq" 
    default = "10" 
  />
  <!-- Argument for storing messages -->
  <arg 
    name = "store" 
    default = "false" 
  />
  <!-- Node 1: talker -->
  <node
    pkg="beginner_tutorials"
    type="talker"
    name="talker"
    args = "$(arg freq)"
    output="screen"
  />
  <!-- Node 2: listener -->
  <node
    pkg="beginner_tutorials"
    type="listener"
    name="listener"
    output="screen"
    launch-prefix="gnome-terminal --command"	
  />
  <!-- Node 3: rosbag -->
  <node
    pkg="rosbag"
    type="record"
    name="record"
    args = "-a -O $(find beginner_tutorials)/results/record.bag"
    if = "$(arg store)"
  />
</launch>
